body {
    --main-color: #9cb080;
    --second-color: #618764;
    --third-color: #2b5748;
    --fourth-color: #273338;
    background: var(--fourth-color);
    margin: 0; 
    border: 0;
    min-height: 100vh;
}

#container {
    height: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#navbar, #current, #footer {
    width: 80%;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#navbar {
    margin-top: -15px;
    background-color: var(--second-color);
    color: white;
    font-weight: bold;
}

#navbar > ul {
    margin-top: 25px;
    list-style: none;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
}

#current {
    background: white;
    min-height: 100vh;
}

#footer {
    height: 50px;
    text-align: center;
    color: white;
    background-color: var(--second-color);
    font-family: monospace;
}