body {
    --main-color: #9cb080;
    --second-color: #618764;
    --third-color: #2b5748;
    --fourth-color: #273338;
    background: var(--fourth-color);
    margin: 0; 
    border: 0;
    min-height: 100vh;
    font-family: monospace;
}

#container {
    height: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 200px;
}

#navbar, #sobre, #formacao, #portfolio, #contato, #footer {
    width: 80%;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: rgb(44, 53, 70) 0px 5px 5px 0px;
}

#navbar {
    background-color: var(--second-color);
    color: white;
    font-weight: bold;
    list-style: none;
    display: flex;
    margin-top: -40px;
    cursor: pointer;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    border-radius: 50px;
    font-family: "Oswald", sans-serif;
    transition: scale 0.5 ease-in-out;
}

#navbar > a {
    margin-top: 30px;
    text-decoration: none;
    color: white;
}

#navbar > a:hover {
    transform: scale(1.2);
}

/* Sobre */
#sobre {
    display: flex;
    background-color: var(--third-color);
    gap: 10px;
    align-items: center;
    margin: 0 auto;
}

#sobre > * {
    margin: 20px;
}

#profile-photo {
    height: 300px;
    width: 300px;
    min-width: 300px; 
    min-height: 300px;
    border-radius: 20%;
    border: 1px solid var(--main-color);
    object-fit: cover;
    object-position: center;
    transition: opacity 1.0 ease-in-out;
}

#profile-photo.fading {
    opacity: 0; 
}

#sobre > p {
    padding-top: 15px;
}

/* Formacao */
#formacao {
    background-color: var(--third-color);
    padding: 10px;
}

/*  Portfolio */
#portfolio {
    background-color: var(--third-color);
    padding: 10px;
}

.project-div {
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
}

.project-title {
    font-size: 1.5rem;
    color: var(--main-color);
}

.project-link {
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    color: var(--fourth-color);
    font-size: .9rem;
}

.project-link:hover {
    color: white;
}

.project-description {
    color: white;
    font-size: 1rem;
}

/*  Contato */
#contato {
    background-color: var(--third-color);
    box-shadow: black 0px 10px 30px -20px;
}

#form-contato {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
}

#message {
    border-radius: 20px;
    padding: 10px;
}

input[type=submit] {
    border-radius: 20px;
    background-color: var(--second-color);
    color: white;
    font-size: 1rem;
    height: 40px;
    cursor: pointer;
    width: 120px;
    transition: background-color 0.2s ease;
}

input[type=submit]:hover {
    background-color: var(--main-color);
}

/* classes */
.main-text {
    font-size: .9rem;
    text-align: justify;
    color: var(--main-color);
    font-weight: 600;
}

.form-label {
    font-size: 1rem; 
    color: white; 
    font-weight: 600;
}

.form-input { 
    border-radius: 20px; 
    padding: 10px;
}

.form-input:invalid {
    border: 2px solid red;
}

.form-input:valid {
    border: 2px solid green;
}



#footer {
    height: 50px;
    text-align: center;
    color: white;
    background-color: var(--second-color);
}